# Configuration file of Pop-3

#PoP-3 CONSTRUCTION PARAMETERS: /--------------------------

#DataCenter(number of Servers)
number_of_servers = 10

#Server's resources :
RAM(GB) = 64
CPU(Cores) = 32
Storage(GB) = 128
Network(interfaces) = 16

#Number of VM per Server
virtual_machines = 2

#Number of container per VM
# 4-8
containers = 8

#Server's computational capacity needed by the container:
container_cpu(%) = 20

#Container's resources needed:
C-RAM(GB) = 4
C-CPU(Cores) = 2
C-CPU(speed_in_GHz) = 2.20
C-Storage(GB) = 8
C-Network(interfaces) = 1

### Queue Policy
#FIFO: First In First Out
#LIFO: Last In First Out
#SDF: Shortest Duration First
#LDF: Longest Duration First
#SCF: Shortest Chain First
#LCF: Longest Chain First
#RANDOM: random element in the queue

Queue_policy = SCF


### Server Selection Policy
#FAS: First Available Server
#LUS: Less Used Server
#MUS: More Used Server
#RANDOM: Random Server

ServerSelection_policy = MUS


### Service Isolation
# Guarantee that VNFs of a service are isolated from VNFs of other services,
# i.e. a VM can contain only VNFs belonging to a single service

# yes/no
service_isolation = no


### Allocation Policy

Allocation_policy = NONE


#SIMULATION PARAMETERS: /--------------------------

#Duration of the simulation
time_of_simulation = 500

#Rate of requests arrival
#1.0 1.5
lambda = 1.1

#Max request size
max_size = 3

#Zipf exponent
alfa = 2.0

#Range of Service duration
min_duration = 10
max_duration = 30

#Range of Service number of VNF
min_vnf = 3
max_vnf = 6

#Probability of a free server crash
server_crash = 0.01


#COSTS /----------------------

# CPU: euro per core hour
cpu_cost = 0.004

# RAM : euro per GB hour
ram_cost = 0.015

# Storage: euro per GB hour
storage_cost = 0.00001

# Energy: euro/kWh
energy_cost = 0.07

# Renewable energy
renewable_energy = 0.0