# Configuration file of PoP-2

#PoP-2 CONSTRUCTION PARAMETERS: /--------------------------

#DataCenter(number of Servers)
# 8-10
number_of_servers = 12

#Server's resources :
RAM(GB) = 32
CPU(Cores) = 16
Storage(GB) = 64
Network(interfaces) = 16

#Number of VM per Server
virtual_machines = 2

#Number of container per VM
containers = 4

#Server's computational capacity needed by the container:
container_cpu(%) = 20

#Container's resources needed:
C-RAM(GB) = 4
C-CPU(Cores) = 2
C-Storage(GB) = 8
C-Network(interfaces) = 1

### Queue Policy
#FIFO: First In First Out
#LIFO: Last In First Out
#SDF: Shortest Duration First
#LDF: Longest Duration First
#SCF: Shortest Chain First
#LCF: Longest Chain First
#RANDOM: random element in the queue

Queue_policy = SDF


### Server Selection Policy
#FAS: First Available Server
#LUS: Less Used Server
#MUS: More Used Server
#RANDOM: Random Server

ServerSelection_policy = LUS


### Service Isolation
# Guarantee that VNFs of a service are isolated from VNFs of other services,
# i.e. a VM can contain only VNFs belonging to a single service

service_isolation = no


### Allocation Policy

Allocation_policy = NONE


#SIMULATION PARAMETERS: /--------------------------

#Duration of the simulation
time_of_simulation = 500

#Rate of requests arrival
# 1.0 1.2 1.5 1.8
lambda = 1.8

#Max request size
max_size = 2

#Zipf exponent
alfa = 2.0

#Range of Service duration
min_duration = 10
max_duration = 20

#Range of Service number of VNF
min_vnf = 3
max_vnf = 4

#Probability of a free server crash
server_crash = 0.03


#COSTS /----------------------

# CPU: euro per core hour
cpu_cost = 0.003

# RAM : euro per GB hour
ram_cost = 0.013

# Storage: euro per GB hour
storage_cost = 0.00001

# Energy: euro/kWh
energy_cost = 0.08

# Renewable energy
renewable_energy = 0.0