# Configuration file of a NFVI-PoP

#DataCenter(number of Servers)
number_of_servers = 10

#Server's resources :
RAM(GB) = 32
CPU(Cores) = 16
CPU(speed_in_GHz) = 2.20
Storage(GB) = 64
Network(interfaces) = 16

#Number of VM per Server
virtual_machines = 2

#Number of container per VM
containers = 4

#Server's computational capacity needed by the container:
container_cpu(%) = 20

#Container's resources needed:
C-RAM(GB) = 4
C-CPU(Cores) = 2
C-CPU(speed_in_GHz) = 2.20
C-Storage(GB) = 8
C-Network(interfaces) = 2

#Policy(FIFO, EDF, SJF, RR)
policy = FIFO

#Simulation parameters:
time_of_simulation = 100

# Rate of requests arrival
lambda = 1

